{% extends "includes/admin/layout/base.html" %}
{% block title %}
    아티클 등록
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/suneditor/suneditor.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/suneditor/codeMirror/codemirror.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/suneditor/custom/customSunEditor.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='statics/tagify/tagify.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script src="{{ url_for('static', filename='statics/tagify/tagify.min.js') }}"></script>
    <script>
        CSRF_TOKEN = "{{ csrf_token() }}";
        {#articleDeleteAjax = '{{ url_for('articles.article_delete_ajax') }}';#}
        editorImagesSaveAjax = '{{ url_for('commons.editor_images_save_ajax') }}';
    </script>
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb uk-width-expand uk-flex uk-flex-right">
        <ul class="uk-breadcrumb">
            <li><a href="{{ url_for('admin_accounts.index') }}">관리 홈</a></li>
            <li><a href="{{ url_for('admin_articles.article_list') }}">아티클 리스트</a></li>
            <li><span>등록</span></li>
        </ul>
    </div>
{% endblock %}

{% block above_main %}
    <section class="adm-index-above-main">
        <div class="flashes-container">
            {% include 'includes/messages.html' %}
        </div>
    </section>
{% endblock %}

{% block body_section %}
    <div class="sub-container">
        <div class="form-container">
            <form class="articles" method="POST" action="{{ url_for("articles.article_save") }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <fieldset class="uk-fieldset">

                    <div class="uk-margin" uk-grid>
                        <div>
                            회원:
                        </div>
                        <div class="uk-width-expand pl-10">
                            <select name="user_email" class="uk-select user">
                                <option value="" selected>&nbsp;&nbsp;--- &nbsp;선택&nbsp; ---</option>
                                {% for user in users %}
                                    {% if user.profile_user_set %}
                                        <option value="{{ user.email }}">{{ user.email }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div>
                            아티클 카테고리:
                        </div>
                        <div class="uk-width-expand pl-10">
                            <select name="ac_title" class="uk-select category">
                                <option value="" selected>&nbsp;&nbsp;--- &nbsp;선택&nbsp; ---</option>
                                {% for ac in acs %}
                                    <option value="{{ ac.title }}">{{ ac.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div>
                            제목:
                        </div>
                        <div class="uk-width-expand pl-10">
                            {{ form.title(class="uk-input mt-5", id="ac-title", required="required") }}
                        </div>
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div>
                            메타 설명:
                        </div>
                        <div class="uk-width-expand pl-10">
                            {{ form.meta_description(class="uk-textarea mt-5", required="required", rows="3", onkeydown="textAreaHeightAuto(this)", onkeyup="textAreaHeightAuto(this)") }}
                        </div>
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div>
                            대표 이미지:
                        </div>
                        <div class="img-path pl-10 pt-5">
                            <img class="img-preview" id="img-preview" src="{{ url_for('static', filename='statics/images/uikit_sample/sample3.png') }}" style="margin: 0 auto;">
                        </div>
                        <div class="uk-width-expand pl-10">
                            {{ form.image(class="image file uk-input mt-5") }}
                        </div>
                    </div>

                    <div class="board-form">
                        <div class="suneditor-form">
                            {% include "includes/suneditor.html" %}
                        </div>
                    </div>

                    <div class="board-form">
                        <div class="uk-margin">
                            {{ form.site_title(class="uk-input mt-20") }}
                        </div>
                    </div>
                    <div class="board-form">
                        <div class="uk-margin">
                            {{ form.site_url(class="uk-textarea", rows="1", onkeydown="textAreaHeightAuto(this)", onkeyup="textAreaHeightAuto(this)") }}
                        </div>
                    </div>

                    <div class="mt-25">
                        <input id="tagify" name="tagify" placeholder="해시태그 입력">
                        <script>
                            var input = document.querySelector('#tagify')
                            var tagify = new Tagify(input);
                            // 태그가 추가되면 이벤트 발생
                            tagify.on('add', function () {
                                console.log(tagify.value); // 입력된 태그 정보 객체
                            })
                        </script>
                    </div>

                    <div class="uk-margin" uk-grid>
                        <div>
                            전시여부:
                        </div>
                        <div class="uk-width-expand pl-10 pb-7">
                            <input type="checkbox" class="uk-checkbox mt-5" name="available_display" checked>
                        </div>
                    </div>

                    <hr>

                    <div class="btn-container">
                        <input type="hidden" id="sun_init" name="sun_init" value="article_CU">
                        <input type="hidden" id="sunImage_init" name="sunImage_init" value="adminArticle_create">
                        <input type="hidden" id="article_id" name="article_id" value="create">
{#                        <input type="hidden" id="user_email" name="user_email" value="{{ target_user.email }}">#}
{#                        <input type="hidden" id="category_id" name="category_id" value="{{ target_article.ac_id }}">#}
                        <input type="hidden" id="orm_id" name="orm_id" value="{{ orm_id }}">
{#                        <button class="uk-button uk-button-danger" uk-toggle="target: #article-delete-modal" type="button">삭제</button>#}
                        <button class="uk-button uk-button-primary uk-align-right" type="submit" id="form-submit">저장</button>
                    </div>
{#                    <div id="article-delete-modal" class="uk-flex-top" uk-modal>#}
{#                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">#}
{#                            <button class="uk-modal-close-default" type="button" uk-close></button>#}
{#                            정말로 "{{ target_profile.nickname }}"님 아티클을 삭제하시겠어요?#}
{#                            <div class="modal-submit-cancel-btn uk-align-right">#}
{#                                <div class="article-delete-btn uk-inline ml-15">#}
{#                                    <button id="article-delete-btn" class="uk-button uk-button-primary" type="button">삭제</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </fieldset>
            </form>
        </div>
    </div>

    <!-- 필수: main_js -->
    <script src="{{ url_for('static', filename='statics/suneditor/suneditor.min.js') }}"></script>

    <!--비필수: codeMirror -->
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/codemirror.min.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/htmlmixed.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/css.js') }}"></script>

    <!-- 필수: 버튼에 필요-->
    <script src="{{ url_for('static', filename='statics/suneditor/katex.min.js') }}"></script>
    <!-- 필수: Language -->
    <script src="{{ url_for('static', filename='statics/suneditor/ko.js') }}"></script>

    <!-- Custom -->
    <script src="{{ url_for('static', filename='statics/suneditor/custom/suneditorInit.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/js/articles/article.js') }}"></script>

{% endblock %}