<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"/>

    {% block meta_keywords %}
    {% endblock %}

    {% block meta_description %}
    {% endblock %}

    {% block meta_robots %}
    {% endblock %}

    {% block meta_others %}
    {% endblock %}

    <title>Beta 1.2 | {% block title %}{% endblock %}</title>

    {% block main_css %}
    {% endblock %}

    {% block head_css %}
    {% endblock %}

    {% block main_js %}
    {% endblock %}

    {% block head_js %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block above_main %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block body %}
            {% block wysiwyg %}
            {% endblock %}

            {% block body_content %}
            {% endblock %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {% block end_common_js %}
    {% endblock %}

    {% block end_js %}
    {% endblock %}
</body>

</html>