
<ul class="uk-pagination uk-flex-center pagination-{{ page_obj_2 }}" uk-margin>
    {% if pagination_2.has_prev %}
        <li><a class="uk-link link-{{ page_obj_2 }}" href="?{% if target_user %}_id={{ target_user.id }}{% endif %}
                                                {% if res_tag_2 %}&res_tag_2={{ res_tag_2}}{% endif %}
                                                {% if kw_2 %}&kw_2={{ kw_2 }}{% endif %}
                                                {% if pagination %}&page={{ pagination.page }}{% endif %}
                                                {% if pagination_3 %}&page_3={{ pagination_3.page }}{% endif %}
                                                {% if pagination_4 %}&page_4={{ pagination_4.page }}{% endif %}
                                                &page_2={{ pagination_2.prev_num }}">이전</a></li>
    {% endif %}

    {% for page_num in pagination_2.iter_pages() %}
        {% if page_num %}
            {% if page_num != pagination_2.page %}
                <li><a class="uk-link link-{{ page_obj_2 }}" href="?{% if target_user %}_id={{ target_user.id }}{% endif %}
                                                        {% if res_tag_2 %}&res_tag_2={{ res_tag_2 }}{% endif %}
                                                        {% if kw_2 %}&kw_2={{ kw_2 }}{% endif %}
                                                        {% if pagination %}&page={{ pagination.page }}{% endif %}
                                                        {% if pagination_3 %}&page_3={{ pagination_3.page }}{% endif %}
                                                        {% if pagination_4 %}&page_4={{ pagination_4.page }}{% endif %}
                                                        &page_2={{ page_num }}">{{ page_num }}</a></li>
            {% else %}
                <li class="uk-active"><span>{{ page_num }}</span></li>
            {% endif %}
        {% else %}
            <li class="uk-disabled"><span>...</span></li>
        {% endif %}
    {% endfor %}

    {% if pagination_2.has_next %}
        <li><a class="uk-link link-{{ page_obj_2 }}" href="?{% if target_user %}_id={{ target_user.id }}{% endif %}
                                                {% if res_tag_2 %}&res_tag_2={{ res_tag_2 }}{% endif %}
                                                {% if kw_2 %}&kw_2={{ kw_2 }}{% endif %}
                                                {% if pagination %}&page={{ pagination.page }}{% endif %}
                                                {% if pagination_3 %}&page_3={{ pagination_3.page }}{% endif %}
                                                {% if pagination_4 %}&page_4={{ pagination_4.page }}{% endif %}
                                                &page_2={{ pagination_2.next_num }}">다음</a></li>
    {% endif %}
</ul>
{% if pagination_2.items %}
<input type="hidden" id="top_page_obj_2" value="{{ page_obj_2 }}_{{ pagination_2.items[0].id }}">
{% endif %}

