{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/css/accounts.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script>
        CSRF_TOKEN = "{{ csrf_token() }}"
        tokenCreateAjax = "{{ url_for("accounts.token_create_ajax") }}"
        tokenConfirmAjax = "{{ url_for("accounts.token_confirm_ajax") }}"
        registerSaveAjax = "{{ url_for("accounts.register_save_ajax") }}"
        loginUrl = "{{ url_for("accounts.login") }}"
    </script>
{% endblock %}

{% block body %}
    <section class="accounts-container">
        <div class="main-width padding10 mt-20 mb-20">
            <div class="form-container register">
                <div class="flashes-container">
                    {% include 'includes/messages.html' %}
                </div>
                <div class="register-alert"></div>
                <h2>회원 가입</h2>
                <hr class="bold">

                <div class="tab-container upper uk-margin">
                    <div class="check-container">
                        <div><h3>회원이용약관</h3></div>
                        <p>Beta-version 서비스이용을 위해 아래 이용약관 및 정보이용에 동의해 주세요. </p>
                    </div>
                    <div class="email-container">
                        <div>
                            <div><h3>이메일 인증</h3></div>
                            <p>Beta-version에서는 안전한 회원가입을 위해 본인확인을 받고 있습니다. <br> 이메일 인증을 진행해주세요. (인증번호 유효기간은 12시간) <br>
                            이메일을 정확히 입력하고, 스팸편지함도 확인바랍니다.</p>
                        </div>
                    </div>
                    <div class="sign-container">
                        <div><h3>아이디/비밀번호 입력</h3></div>
                        <p>비빌번호는 문자, 특수문자와 숫자로 입력해주시고, 비밀번호가 도용되지 않도록 주의하세요. <br> 입력하신 비밀번호는 무작위 암호화되어 해독이 불가능하게 저장됩니다.</p>
                    </div>
                </div>

                <hr>

                <div class="tab-container lower uk-margin">
                    <div class="check-container">
                        <div class="check"><input class="all uk-checkbox mr-15" type="checkbox" name="is_all" id="is_all">전체동의</div>
                        <div class="check"><input class="single required uk-checkbox mr-15" type="checkbox" name="is_use" id="is_use" required>Beta-version 이용약관 <span class="required">(필수)</span></div>
                        <div class="check"><input class="single required uk-checkbox mr-15" type="checkbox" name="is_info" id="is_info" required>개인정보 수집/이용 동의 <span class="required">(필수)</span></div>
                        <div class="check"><input class="single required uk-checkbox mr-15" type="checkbox" name="is_email" id="is_email" required>이메일 무단수집 거부 <span class="required">(필수)</span></div>
                        <div class="check"><input class="single required uk-checkbox mr-15" type="checkbox" name="is_bank" id="is_bank" required>전자금융거래 이용약관 <span class="required">(필수)</span></div>
                        <div class="check"><input class="single uk-checkbox mr-15" type="checkbox" name="is_marketing" id="is_marketing">마케팅 정보 수신동의(선택)</div>
                        <div class="check">
                            <div uk-grid>
                                <div class="third-input"><input class="single uk-checkbox mr-15" type="checkbox" name="is_third" id="is_third"></div>
                                <div class="third-div">마케팅 활용에 의한 개인정보 3자 제공동의(선택)
                                    <div class="third-refuse">* 미동의하셔도 서비스 이용에는 지장이 없으나, 프로모션 등 경품이벤트 참여가 제한됩니다. </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="email-container">
                        <div uk-grid>
                            <div class="email-div">
                                {{ email_form.email(class="uk-input mt-5", placeholder="이메일", required="required") }}
                            </div>
                            <div class="email-btn">
                                <button class="v-btn uk-button uk-button-primary mt-5" type="button" id="token-btn">인증번호받기</button>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input mt-5" type="text" id="token" placeholder="인증번호입력" required>
                        </div>
                    </div>

                    <div class="sign-container">
                        <div class="uk-margin">
                            {{ accounts_form.username(class="uk-input mt-5", placeholder="아이디", required="required") }}
                        </div>

                        <div class="uk-margin">
                            {{ accounts_form.password(class="uk-input mt-5", placeholder="비밀번호", required="required") }}
                        </div>

                        <div class="uk-margin">
                            {{ accounts_form.repassword(class="uk-input mt-5", placeholder="비밀번호 확인", required="required") }}
                        </div>
                        <p style="color: darkred">비밀번호는 9자이상으로 특수문자, 영문(대문자 가능)과 숫자 모두 포함해야 합니다.</p>
                    </div>
                </div>

                <div class="btn-container uk-grid-small" uk-grid>
                    <input type="hidden" id="add_if" name="add_if" value="register">
                    <div class="btn check"><button class="uk-button uk-button-primary uk-width-1-1">다음</button></div>
                    <div class="btn email"><button class="uk-button uk-button-primary uk-width-1-1">다음</button></div>
                    <div class="btn sign"><button class="uk-button uk-button-primary uk-width-1-1">다음</button></div>
                    <div class="btn register-btn"><button class="uk-button uk-button-primary uk-width-1-1" type="button">등록</button></div>
                </div>
                <div class="mt-20">
                    <a href="{{ url_for('accounts.login') }}">이미 가입되어 있으면, 로그인하세요!</a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block end_js %}
    <script src="{{ url_for('static', filename='statics/js/commons/common.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/js/accounts/register.js') }}"></script>
{% endblock %}