{% extends "includes/admin/layout/base.html" %}
{% block title %}
    상품 리스트
{% endblock %}

{% block head_css %}
{% endblock %}

{% block head_js %}
    <script>
        CSRF_TOKEN = "{{ csrf_token() }}";
        productDeleteAjax = "{{ url_for("products.product_delete_ajax") }}";
    </script>
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb uk-width-expand uk-flex uk-flex-right">
        <ul class="uk-breadcrumb">
            <li><a href="{{ url_for('admin_accounts.index') }}">관리 홈</a></li>
            <li><a href="{{ url_for('admin_ecomms.product_create') }}">상품 등록</a></li>
            <li><span>리스트</span></li>
        </ul>
    </div>
{% endblock %}

{% block above_main %}
    <section class="adm-index-above-main">
        <div class="flashes-container">
            {% include 'includes/messages.html' %}
        </div>
        <div class="shop-alert mt-15"></div>
    </section>

{% endblock %}

{% block body_section %}
    <div class="list-container">
        <div class="objects list">
            <div class="caution">*** <span class="caution">관련 삭제를 체크</span>하면 해당 상품과 관련된 <span class="caution">모든 데이터가 삭제</span>되므로, <span class="caution">주의</span>하세요!!</div>
            <div class="caution pl-23 mt-5">관련 삭제 <span class="caution">체크없이 상품을 삭제</span>하면 관련 데이터들을 <span class="caution">이용자들은 볼수 없는 상태</span>로 변경됩니다!!</div>
            <table class="uk-table uk-table-middle uk-table-divider shop">
                <thead>
                <tr>
                    <th scope="col" class="uk-table-shrink"><input class="uk-checkbox" id="all-check" type="checkbox" name="all_checked"></th>
                    <th scope="col" class="uk-table-shrink uk-text-nowrap">ID</th>
                    <th scope="col" class="uk-text-nowrap"><input class="uk-checkbox mr-5" id="all-data" type="checkbox" name="all-data">관련 삭제</th>
                    <th scope="col" class="uk-table-expand uk-text-nowrap">상품명</th>
                    <th scope="col" class="uk-table-shrink uk-text-nowrap">전시</th>
                    <th scope="col" class="uk-text-nowrap">이메일</th>
                    <th scope="col" class="uk-table-shrink uk-text-nowrap">썸네일</th>
                    <th scope="col" class="uk-text-nowrap">상점이름</th>
                    <th scope="col" class="uk-table-shrink uk-text-nowrap">등록일</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td data-label="체크"><input class="uk-checkbox single" id="{{ product.id }}" data-user-id="{{ product.user.id }}" type="checkbox" name="is_checked"></td>
                        <td data-label="ID" class="uk-text-nowrap">{{ product.id }}</td>
                        <td data-label="관련데이터 모두삭제"><input class="uk-checkbox data" type="checkbox" name="is_data"></td>
                        <td data-label="상품명" class="table-link">
                            <a href="{{ url_for('admin_ecomms.product_change', _id=product.id) }}">{{ product.title }}</a>
                        </td>
                        <td data-label="전시" class="uk-text-nowrap">
                            {% if product.available_display %}<input disabled type="checkbox" class="uk-checkbox mt-5" name="available_display" checked>{% else %}
                                <input disabled type="checkbox" class="uk-checkbox mt-5" name="available_display">{% endif %}
                        </td>
                        <td data-label="이메일" class="uk-text-nowrap">{{ product.user.email }}</td>
                        <td data-label="대표 썸네일" class="thumbnail-img">
                            {% if product.img_path_1 %}
                                <img class="img-preview" id="img-preview" src="/{{ product.img_path_1 }}" style="margin: 0 auto;">
                            {% else %}
                                없슴
                            {% endif %}
                        </td>
                        <td data-label="상점이름" class="uk-text-nowrap">{{ product.shop.title }}</td>
                        <td data-label="등록일" class="uk-text-nowrap">{{ product.created_at|daytime("small") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="uk-button uk-button-default" uk-toggle="target: #product-delete-modal">선택 삭제</button>
        </div>
    </div>
    <div id="product-delete-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div>정말로 상품을 삭제시겠어요?</div>
            <div class="list btn uk-inline ml-15 uk-align-right">
                <button id="checked-delete-btn" class="uk-button uk-button-primary" type="button">삭제</button>
            </div>
        </div>
    </div>

    {% if pagination %}
        {% include 'includes/pagination/pagination.html' %}
    {% endif %}
    <script src="{{ url_for('static', filename='statics/js/ecomm/products/products.js') }}"></script>
{% endblock %}