.cart-section .uk-button {padding: 0 15px}
.pd-change-btn {display: flex}
.pd-change-btn button {display: flex; align-items: center; height: 28px; font-size: 14px}

button.op-cancel {border: solid 1px gray; height: 30px; top: 15px; padding: 2px 10px; font-size: 14px; border-radius: 2px}
button.op-cancel svg {display: none}

.shop-info {display: flex; align-items: center; border-bottom: solid 1px mediumblue}
.profile-img, .symbol-img{width: 28px; height: 28px; border-radius: 50%; object-fit: cover}
.pf-shop {display: flex; align-items: center}

.shop-info .profile .profile-link, .shop-info .shop .shop-link {display: flex; align-items: center; color: #2f3640} /**/
.shop-info .profile .profile-link:hover, .shop-info .shop .shop-link:hover {color: brown}

.sub-container {display: flex}
.cart-lt, .cart-rt {display: flex; width: 50%; align-items: center}
.bg-100 {background: #f1f2f6}
.bg-100.padding10 {padding-top: 20px}
.main-width.mb-20 {border-radius: 10px; background: white; margin-bottom: 20px; padding: 10px}
.main-width.mb-20.cont-pay {justify-content: right; align-items: center}
.main-width.mb-20.cont-pay .decision {margin-top: 0}
.above-shop {display: flex; align-items: center; justify-content: space-between}


.pd-thumbnail img.thumbnail {width: 90px; height: 90px; object-fit: cover; border-radius: 5px}
.pd-content, .op-content {flex: 1}

.price-label {text-align: center}
.price-div, .price {display: flex}
.line-through {text-decoration: line-through; color: #999999}
.applied-price {padding-left: 10px}

.pd-price {border-right: solid 1px lightgrey;}
.pd-op-price {text-align: center;}
.op-price {padding-right: 10px; border-right: solid 1px lightgrey;}

.total-info {display: flex; justify-content: flex-end; margin-top: 20px; margin-bottom: 15px}
.total-info.padding10 {justify-content: space-between}
/*.total-info justify-content: flex-end, .total-info.padding10 justify-content: space-between
같은데 두개를 동시에 걸었다. if문으 로 쿠폰이나 포인트 존재여부에 따른 경우 모두 적용되게 하기 위해
둘다 없을 경우는 적용이 안되는 군.... if 문 적용시 직접 class 에다 넣어야 겠다.*/
.total-info .first-second {flex: 1}
.total-info .width-first {flex: 1}
.total-info .width-second {width: 50%;}
.total-info .width-first,.total-info .width-second  {display:flex; justify-content: flex-start; align-items: center}

.total-info .coupon-input, .total-info .point-input {flex: 1}

/*======== modal ========*/
.order-change-modal .sub-product {display: flex}
.order-change-modal .sub-product .thumbnail {margin-right: 10px}
.order-change-modal .sub-product img {width: 90px; height: 90px; border-radius: 5px; object-fit: cover}
.option.select-container.grid-align-items {align-items: center}
.modal.applied-price {align-items: center}
.modal.applied-price .original-price {text-decoration: line-through; color: #999999}
.modal.applied-price .uk-width-expand.expand-pl {margin-left: -20px}
.uk-grid-mt.delivery {margin-top: 5px!important; margin-bottom: 10px; margin-left: -20px}
.uk-grid-mt.delivery .uk-width-expand.expand-pl {padding-left: 7px}
.pd-plus, .pd-minus, .op-plus, .op-minus {padding: 0 10px; border-radius: 0}
.pd.uk-form-width-xsmall, .op.uk-form-width-xsmall {width: 2.5rem !important; text-align: center; border-radius: 0}
#pd-total-price-span {padding-left: 20px}
/*.op-cancel.uk-close {background: transparent; font-size: 30px; top: -5px; right: -2px; transform: rotate(45deg)}*/
.op-cancel.uk-close:hover {background: transparent}
.order-delete-modal .btn.uk-align-right {margin-top: 30px}

/*coupon, point*/
.usedpoint-container {margin-top: 10px!important; display: flex}
.usedpoint-container .used-container {display: flex; width: 50%}
.usedpoint-container .used-container .cp-group {padding-left: 0; width: 50%; padding-bottom: 10px; margin-bottom: 7px; border-bottom: solid 1px lightgray} /**/
.usedpoint-container .used-container .cp-group.applied {text-align: right!important;}
.usedpoint-container .used-container .cp-group .label {margin-bottom: 7px}
.usedpoint-container .used-container .cp-group .cancel {justify-content: right; align-items: center}
.usedpoint-container .used-container .cp-group .cancel .button {padding-left: 15px}
/*.usedpoint-container .used-container .cp-group .cancel .button button {display: flex; align-items: center}!*height:25px; *!*/

.usedcoupon-container {margin-bottom: 8px;} /*padding-bottom: 10px; */
/*.usedcoupon-container .label {display: none!important;}*/
.usedcoupon-container .label {width: 130px; display: flex; align-items: center;} /* margin-bottom: 10px*/
.usedcoupon-container .code,
.usedcoupon-container .amount {display: flex; align-items: center}
/*.used-coupon-point .code {flex: 1}*/
.usedcoupon-container .amount-button {display: flex}
.usedcoupon-container .amount {width: 150px}
.usedcoupon-container .button {width: 95px; text-align: right}
.usedcoupon-container .each {display: flex; width: 100%; margin-bottom: 10px}
/*.usedcoupon-container .each .button button {display: flex; align-items: center}!*height:25px; *!*/

.coupon-point-alert{display: none}
.coupon-point-alert .flashes {margin-bottom: 0}
.used-coupon div {display: flex; justify-content: left; align-items: center}
.used-coupon .uk-button.code {margin-left: 10px}
.used-coupon .uk-button.code:hover {cursor: none; border: 1px solid #e5e5e5}
.used-coupon .uk-button.coupon-cancel-btn {margin-left: 20px}

/*order-form*/
.decision .uk-accordion-title {font-size: 16px; line-height: 2.4}
.decision .uk-accordion-title:before {content: none}
#order_form_div.active {display: block}
#order_form_div {display: none}
/*#order_form_div {display: block}*/
#order_form_div .order-form {max-width: 800px; margin: 0 auto}
#order_form_div .order-form .form-group {margin-bottom: 10px}
#order_form_div .order-form .pay-btn {text-align: right}
#order_form_div .order-form .uk-button {background: white}
#order_form_div .postcode {display: flex}
#juso-wrap {display:none;border:1px solid;max-width:800px;height:468px!important;margin:5px 0;position:relative;}
#btnFoldWrap {cursor:pointer;position:absolute;right:0;top:-1px;z-index:1; width: 15px; height: 15px}

.billing-form div.card-number .card-grid {margin-left: 0}
.billing-form div.card-number input.card-num {width: 65px; margin-right: 8px; text-align: center}
.billing-form div.card-period .card-grid {margin-left: 0}
.billing-form div.card-period input.card-period {width: 50px; margin-right: 8px; text-align: center}
.billing-form div.birth input.birth {width: 130px; text-align: center}
.billing-form div.card-pw input.card-pw {width: 50px; text-align: center}


@media screen and (max-width: 560px) {
  .pd-change-btn {justify-content: flex-end; }
  .pd-check {padding-top: 7px}
  .cart-lt, .cart-rt {display: block}
  .above-shop .uk-checkbox {margin-left: 10px}
  .cart-lt .pd-price, .cart-rt .op-price, .cart-rt .pd-op-price, .cart-rt .pd-change-btn {text-align: right; margin-right: 10px}
  .pd-thumbnail img.thumbnail {width: 100%; height: auto;}
  .price-label {margin-right: 10px}
  .pd-price, .op-price, .po-price {display: flex; justify-content: flex-end}
  .pd-price, .op-price {margin-bottom: 7px}

  .po-price {margin-top: 10px}
  .pd-op-price {display: flex; padding-top: 0!important;}
  .op-price {padding-right: 0!important; border-right: none!important;}
  .p-change {border-top: solid 1px #f1f2f6}

  .total-info .width-first .coupon-label {display: none}
  .total-info .width-second .point-label {display: none}

  .usedpoint-container .used-container {display: block}
  .usedpoint-container .used-container .cp-group {width: 100%}

  /*.usedcoupon-container .each {margin-left: 8px}*/
  .usedcoupon-container .each .code .period {display: none}
}

@media screen and (max-width: 590px) {
  .main-width.mb-20.cont-pay .cart-pay .pay {margin-top: 5px}
}

@media screen and (max-width: 760px) {
  /*.usedcoupon-container {display: block}*/
  .usedcoupon-container .each {display: block}
  .usedcoupon-container .each .code {height: 38px}
  .usedcoupon-container .each .amount {flex: 1}
}

@media screen and (max-width: 860px) {
  .main-width.mb-20.cont-pay {display: block}
  .main-width.mb-20.cont-pay .cart-pay {justify-content: right}
  .main-width.mb-20.cont-pay .decision {justify-content: right; margin-top: 10px}
}

@media screen and (max-width: 960px) {
  .sub-container {display: block}
  .cart-lt, .cart-rt {width: 100%}
  .cart-lt {border-bottom: solid 1px #f1f2f6}
  .pd-op-price {padding-top: 7px}
  .pd-price {border-right: none;}
  .total-info .first-second {display: block}
  .total-info .first-second .width-second {width: 100%; margin-top: 20px}

  .usedpoint-container {display: block}
  .usedpoint-container .used-container {width: 100%}
}

