{% extends "base.html" %}

{% block title %}
    SERVER
{% endblock %}

{% block head_css %}
    <style>
        a {color: #c23616}
        a:hover {color: red}
        .exam {max-width: 800px; margin: 10px auto 0; border: solid 1px gainsboro; border-radius: 10px; padding: 20px}
    </style>
{% endblock %}

{% block content %}
    <section class="section-container main-width padding10">
        <div><br>
            <h4>서버구축 진행순서</h4><br>
            <p>1. Linux ubuntu 20.04.5 LTS 설치</p>
            <a href="https://es2sun.tistory.com/242" target="_blank">[Ubuntu] 홈 서버 구축 - (0)Ubuntu 18.04 Server 부팅 USB 만들기</a> <br>
            <a href="https://devjaewoo.tistory.com/40" target="_blank">20.04 LTS server 설치</a><br>
            <a href="https://cishome.tistory.com/30" target="_blank">리눅스 파일시스템 비교(ext4 & xfs)-1</a> <br>
            <a href="https://blog.naver.com/PostView.nhn?blogId=hymne&logNo=220976678541" target="_blank">리눅스 파일시스템 비교(ext4 & xfs)-2</a> <br>
            <a href="https://devjaewoo.tistory.com/41">[Linux] Ubuntu Server 20.04 RAID 구성하기</a><br>
            <a href="https://m.blog.naver.com/sw4r/221770538756" target="_blank">[리눅스 (Linux) 명령어] 하드 디스크 파티션 확인 및 마운트 시키기(fdisk -l / df -h / mount 명령어)</a><br>
            <a href="https://coding-factory.tistory.com/500" target="_blank">[Linux] 디렉토리 관련 명령어 총정리(확인, 이동, 생성, 삭제, 복사, 잘라내기)</a><br>
            sudo -i <br>
            apt-get update <br>
            apt-get upgrade <br>
            apt-get install net-tools <br>
            ifconfig <br>
            <hr>
            <p>2. sudo ufw status</p>
            <p>sudo ufw enable</p>
            sudo ufw deny 80<br>
            sudo ufw delete allow 80<br>
            sudo ufw delete deny 80<br>
            sudo ufw status<br><br>
            <p>ssh moljin@112.186.157.226 -p 52022</p>
            <p>우분투 터미널 창에서 포트를 열어주는 것은 내부 IP(192.168.0.3) 포트를 여는 것이다.</p>
            <p>터미널에서 여는 내부IP 포트는 외부IP포트와 포워딩시켜줘야 한다. iptime 공유기의 외부 IP(112.186.157.226)에 포트포워딩</p>
            <p><img src="{{ url_for('static', filename='statics/images/port_allow.jpg') }}" alt=""></p>
            <p>port 순서: </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;외부IP포트(포트포워딩) ===> 내부IP포트(터미널 포트열기) ===> 컨테이너포트(yml파일: 내부IP포트:컨테이너포트)</p>
            <p>docker run -d -p 50009:9000 --name portainer . . . 에서는 내부IP포트:portainer(컨테이너)포트</p><br>
            <p><a href="https://pinggoopark.tistory.com/156" target="_blank">[linux] ubuntu에 ssh 접속 포트 변경하기</a></p>
            <hr>
            <p>3. apt install docker.io -y</p>
            <a style="color: red" href="https://tifferent.tistory.com/10" target="_blank">리눅스 Docker 저장 위치 확인 및 변경[기존 컨테이너 & 이미지 구동이 안된다. 지워지지는 않지만..... docker설치후 저장위치 변경]</a><br>
            <a href="https://happylie.tistory.com/82" target="_blank" style="color: red">[Docker] 도커 저장소 변경하기(Root Dir) - 온실 속 선인장(아래 방법이랑 좀 다르다...이걸로 하자)</a><br>
            <a href="https://iamfreeman.tistory.com/entry/vi-vim-%ED%8E%B8%EC%A7%91%EA%B8%B0-%EB%AA%85%EB%A0%B9%EC%96%B4-%EC%A0%95%EB%A6%AC-%EB%8B%A8%EC%B6%95%ED%82%A4-%EB%AA%A8%EC%9D%8C-%EB%AA%A9%EB%A1%9D" target="_blank" style="font-weight: bold">vi /vim 편집기 명령어 정리 (단축키 모음 / 목록)</a><br>
            ===> sudo docker info | grep Root (Docker 데이터 저장 위치 확인하기) <br>
            ===> systemctl stop docker<br>
            ===> /home 으로 이동후 [docker 데이터 저장할 폴더 생성하기] mkdir docker <br>
            ===> vi /lib/systemd/system/docker.service (저장 위치 변경하기 위해 서비스 설정 파일 열기) <br>
            ===> ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock <span style="color: red">--data-root=/home/docker/</span> [여기 추가...붉은색]
            <br><br>
            ===> systemctl daemon-reload<br>
            ===> systemctl stop docker<br>
            ===> systemctl start docker<br>
            ===> sudo docker info | grep Root<br><br>

            docker volume create portainer_data <br>
            docker run -d -p 50009:9000 --name portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:latest <br>
            docker restart portainer<br><br>

            docker swarm init <br><br>


            docker container ls<br>
            docker rm -f portainer-container-ID<br><br>

            docker images<br>
            docker image rm portainer-image-ID<br><br>

            docker volume ls<br>
            docker volume rm portainer_data<br>
            <hr>
            <p>4. stack을 빌드하기전에. . . 반드시, FTP로 nginx.conf를 옮겨놔야 한다. </p>
            <p>nginx container 빌드시에 컨테이너가 만들어지지 않는다.</p><br>
            FDKproject0.1 <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── flask_www <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ ├── uwsgi.ini <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ ├── route <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ ├── apps . . .<br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ ├── templates <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ ├── requirements.txt <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ └── Dockerfile <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── nginx <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ └── nginx.conf <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── docker-stack.yml <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── app.py <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── venv <br><br>
            pip install gunicorn 빼먹지 말라<br>
            pip freeze > requirements.txt <br>
            pip freeze > flask_www/requirements.txt<br>
            <hr>
            <p>5. stack 빌드 후에 받드시 db migrate!!!</p>
            <p>docker exec -it [flask app container ID] /bin/bash 로 플라스크 앱 컨테이너 내로 진입</p>
            <p>flask db init ===> flask db migrate ===> flask db upgrade 시행</p>
            (위와 같은 명령: docker exec [app 혹은 container ID] flask db init/migrate/upgrade)<br><br>
            docker logs -t flask_www(app 혹은 container ID)<br>
            docker logs -tf flask_www(app 혹은 container ID)<br>

            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <hr>
        <a href="https://www.yougetsignal.com/tools/open-ports/">해당 IP의 포트 open check Site</a><br>
        <a href="https://www.lesstif.com/gitbook/git-ssh-22-17105551.html" target="_blank">git + ssh 연계시 22 번 포트가 아닌 다른 포트 사용할 경우 앞에 ssh:// 를 적고 id@host:포트번호를 적어줌</a><br>
        <div>
            <p></p>
        </div>
        <hr>

        <div>
            <p></p>
        </div>
        <hr>

        <div>
            <p></p>
        </div>
        <hr>
    </section>
{% endblock %}