{% extends "includes/admin/layout/base.html" %}
{% block title %}
    AdminLogin
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/css/accounts.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <!--block header overriding-->
{% endblock %}

{% block above_main %}
    <section class="above-main">
        <div class="flashes-container">
            {% include 'includes/messages.html' %}
        </div>
    </section>
{% endblock %}

{% block body %}
    <!--block body overriding-->
    <section class="accounts-container">
        <div class="main-width padding10 mt-20 mb-20">
            <div class="form-container register">
                <div class="flashes-container">
                    {% include 'includes/messages.html' %}
                </div>
                <div class="login-alert"></div>
                    <form action="{{ url_for("admin_accounts.login_post") }}" method="POST">
                    {{ form.csrf_token }}
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">FLASK ADMIN</legend>

                        <div class="uk-margin">
                            {{ form.username(class="uk-input mt-5", placeholder="아이디 혹은 이메일") }}
                        </div>

                        <div class="uk-margin">
                            {{ form.password(class="uk-input mt-5", placeholder="비밀번호") }}
                        </div>

                        <p uk-margin>
                            <button class="uk-button uk-button-primary uk-width-1-1 mt-10">로그인</button>
                        </p>

                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}