<div class="reply-loop mt-15">
    <a id="comment_{{ reply_comment.id }}"></a>
    <div class="comment-writer">
        <div class="profile mt-15 mb-15">
            {% if target_article.user %}
                {% if reply_comment.user.profile_user_set[0] and not reply_comment.user.is_admin %}
                    <a href="{{ url_for("accounts.account_detail", _id=reply_comment.user.id) }}">
                        <img src="/{{ reply_comment.user.profile_user_set[0].profile_img_path }}" alt="">
                        {{ reply_comment.user.profile_user_set[0].nickname }}
                    </a>
                {% else %}
                    {% if reply_comment.user.is_admin %}
                        <a href="{{ url_for("accounts.account_detail", _id=reply_comment.user.id) }}">
                            <img src="{{ url_for('static', filename='statics/images/user-none.png') }}">
                            관리자 <br>
                        </a>
                    {% else %}
                        {% if target_article.available_display == True %}
                            <a href="{{ url_for("accounts.account_detail", _id=reply_comment.user.id) }}">
                                <img src="{{ url_for('static', filename='statics/images/user-none.png') }}">
                                프로필 미등록
                            </a>
                        {% else %}
                            <img src="{{ url_for('static', filename='statics/images/user-none.png') }}">
                            카테고리 삭제
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div>
                    <img src="{{ url_for('static', filename='statics/images/user-none.png') }}">
                    탈퇴한 이용자
                </div>
            {% endif %}

            <span class="ml-40">
                {{ reply_comment.created_at | daytime("medium") }}
                {% if reply_comment.is_secret == True %}
                    {% if (current_user == reply_comment.user) or current_user.is_admin %}
                        (비밀글)
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
    <div class="comment-content mb-10">
        <div class="comment-detail detail-{{ reply_comment.id }}" data-detail="{{ reply_comment.id }}">
            {{ reply_comment.content|safe }}
        </div>
    </div>
    {% if current_user == reply_comment.user %}
        <div class="comment comment-old">
            <!--여기에 동적으로 javascript 이용해서 update sunEditor 삽입-->
        </div>

        <div class="comment-open-container mb-10">
            <button class="comment-btn old uk-button" data-comment-id="{{ reply_comment.id }}" data-paired-id="" data-orm-id="{{ reply_comment.orm_id }}">
                <i class="fas fa-edit" title="댓글수정"><span>댓글수정</span><!--수정--></i>
            </button>
        </div>
    {% else %}
        <!--reply-comment 에는 다시 댓글을 달수 없다.-->
        <div hidden class="comment pseudo"><!--forEach 짝을 맞추기 위해...--></div>
        <button hidden class="comment-btn pseudo"><!--forEach 짝을 맞추기 위해...--></button>
    {% endif %}
</div>
