{% extends "base.html" %}
{% block title %}
    아티클
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/css/articles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/suneditor/suneditor.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/suneditor/codeMirror/codemirror.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/suneditor/custom/customSunEditor.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='statics/tagify/tagify.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script src="{{ url_for('static', filename='statics/tagify/tagify.min.js') }}"></script>
    <script>
        CSRF_TOKEN = "{{ csrf_token() }}"
        articleSave = '{{ url_for('articles.article_save') }}';
        editorImagesSaveAjax = '{{ url_for('commons.editor_images_save_ajax') }}';
    </script>
{% endblock %}


{% block body %}
    <section class="articles-container article update">
        <div class="main-width padding10 mt-20 mb-20">
            <div class="form-container update">
                <form method="POST" action="{{ url_for("articles.article_save") }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="board-form-container" uk-grid>
                        <div class="right">
                            <div class="board-form">
                                <div class="uk-margin preview">
                                    <label for="image">
                                        {% if target_article.img_path %}
                                            <img class="img-preview" id="img-preview" src="/{{ target_article.img_path }}">
                                        {% else %}
                                            <img class="img-preview" id="img-preview" src="{{ url_for('static', filename='statics/images/4-3-sample.jpg') }}">
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="board-form">
                                <div class="uk-margin image">
                                    <!--최적 업로드 이미지 사이즈 400px*300px-->
                                    <!--업로드 이미지 사이즈 체크를 위해 id 부여, common.js-->
                                    {{ form.image(class="uk-input mt-5", hidden="hidden") }}
                                </div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="board-form mt-10">
                                <div class="breadcrumb uk-width-expand uk-flex uk-flex-left">
                                    <ul class="custom uk-breadcrumb uk-flex">
                                        <li class="profile image nickname uk-text-nowrap"><a href="{{ url_for("accounts.account_detail", _id=current_user.id) }}">
                                            <img src="/{{ current_user.profile_user_set[0].profile_img_path }}" alt="">
                                            {{ current_user.profile_user_set[0].nickname }}</a></li>
                                        <li><a class="custom uk-text-truncate" href="{{ url_for('articles.ac_detail', _id=target_category.id, slug=target_category.slug) }}">{{ target_category.title }}</a></li>
                                        <li><span class="custom uk-text-nowrap">게시글 수정</span></li>
                                    </ul>
                                </div>
{#                                <div class="uk-margin profile image nickname">#}
{#                                    <a href="{{ url_for("accounts.account_detail", _id=current_user.id) }}">#}
{#                                        <img src="/{{ current_user.profile_user_set[0].profile_img_path }}" alt="">#}
{#                                        {{ current_user.profile_user_set[0].nickname }}#}
{#                                    </a>#}
{#                                    <span class="breadcrumb active pl-10">아티클 수정</span>#}
{#                                </div>#}
                                <div class="board-form">
                                    <div class="uk-margin title">
                                        {{ form.title.label }}
                                        <input class="uk-input mt-5" id="title" maxlength="45" minlength="4" name="title" placeholder="타이틀" required="" type="text" value="{{ target_article.title }}">
                                    </div>
                                </div>

                                <div class="board-form">
                                    <div class="uk-margin meta_description">
                                        {{ form.meta_description.label }}
                                        <textarea rows="{% if not target_article.meta_description %}3{% else %}5{% endif %}" class="uk-textarea mt-5" id="meta_description" name="meta_description"
                                                  onkeydown="textAreaHeightAuto(this)" onkeyup="textAreaHeightAuto(this)"
                                                  placeholder="웹페이지 요약 메타설명(최적 80자, 최대 160자 이내)">{% if target_article.meta_description %}{{ target_article.meta_description }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="board-form">
                        <div class="suneditor-form">
                            {% include "includes/suneditor.html" %}
                        </div>
                    </div>
                    <div class="board-form">
                        <div class="uk-margin">
                            <input class="uk-input mt-20" id="site_title" maxlength="45" minlength="4" name="site_title" placeholder="사이트 제목" type="text" value="{% if target_article.site_title %}{{ target_article.site_title }}{% endif %}">
                        </div>
                    </div>
                    <div class="board-form">
                        <div class="uk-margin">
                            <textarea rows="{% if not target_article.site_url %}1{% endif %}" class="uk-textarea" id="site_url" name="site_url" onkeydown="textAreaHeightAuto(this)" onkeyup="textAreaHeightAuto(this)" placeholder="사이트 주소" >{% if target_article.site_url %}{{ target_article.site_url }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div>
                        <input id="tagify" name="tagify" placeholder="해시태그 입력" value="{% if tags_str %}{{ tags_str }}{% endif %}">
                        <script>
                            var input = document.querySelector('#tagify')
                            var tagify = new Tagify(input);
                            // 태그가 추가되면 이벤트 발생
                            tagify.on('add', function () {
                                console.log(tagify.value); // 입력된 태그 정보 객체
                            })
                        </script>
                    </div>
                    <div class="available uk-flex mt-15">
                        <div>
                            전시여부:
                        </div>
                        <div class="ml-15">
                            {% if target_article.available_display %}<input type="checkbox" class="uk-checkbox" name="available_display" checked>{% else %}<input type="checkbox" class="uk-checkbox" name="available_display">{% endif %}
                        </div>
                    </div>
                    <div class="btn-container">
                        <input type="hidden" id="sun_init" name="sun_init" value="article_CU">
                        <input type="hidden" id="sunImage_init" name="sunImage_init" value="">
                        <input type="hidden" id="article_id" name="article_id" value="{{ target_article.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
                        <input type="hidden" id="category_id" name="category_id" value="{{ target_article.ac_id }}">
                        <input type="hidden" id="orm_id" name="orm_id" value="{{ target_article.orm_id }}">

                        <button class="uk-button uk-button-primary mt-15" type="submit" id="form-submit">저장</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            // 내용 수정 업데이트 할때 추가한다.
            window.addEventListener('DOMContentLoaded', function (event) {
                update_init()
                function update_init() {
                    const suneditor_editable = document.querySelector(".se-container .se-wrapper .sun-editor-editable")
                    suneditor_editable.innerHTML = `{{ target_article.content|safe }}`;
                    {#suneditor_editable.innerHTML =  {% autoescape true %}{{article.content}}{% endautoescape %};#}
                }
            })
        </script>
    </section>
{% endblock %}

{% block end_js %}
    <!-- 필수: main_js -->
    <script src="{{ url_for('static', filename='statics/suneditor/suneditor.min.js') }}"></script>

    <!--비필수: codeMirror -->
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/codemirror.min.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/htmlmixed.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/codeMirror/css.js') }}"></script>

    <!-- 필수: 버튼에 필요-->
    <script src="{{ url_for('static', filename='statics/suneditor/katex.min.js') }}"></script>
    <!-- 필수: Language -->
    <script src="{{ url_for('static', filename='statics/suneditor/ko.js') }}"></script>

    <!-- Custom -->
    <script src="{{ url_for('static', filename='statics/js/commons/common.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/suneditor/custom/suneditorInit.js') }}"></script>

    <!--대표이미지 사이즈/용량 체크--> <!--그외-->
    <script src="{{ url_for('static', filename='statics/js/articles/article.js') }}"></script>
{% endblock %}