{% extends "layout.html" %}

{% block main_css %}
    <link href="{{ url_for('static', filename='statics/uikit/uikit.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/uikit/custom_uikit.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='statics/css/main.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='statics/css/admin/admin-main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/css/admin/sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/font-awesome-5.15.1/css/all.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main_js %}
    <script src="{{ url_for('static', filename='statics/js/libs/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ url_for('static', filename='statics/uikit/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/uikit/uikit-icons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='statics/js/commons/common.js') }}"></script>
{% endblock %}

{% block header %}
    {% include 'includes/admin/layout/header.html' %}
{% endblock %}

{% block body %}
    <section class="admin-section">
        <div class="admin-body">
            {% include "includes/admin/layout/sidebar.html" %}
            <div class="body-main">
                <div class="body-top" uk-grid>
                    <div class="uk-width-auto uk-flex">
                        <a uk-toggle="target: #sidebar">
                            <i class="fas fa-th"></i>
                        </a>
                    </div>

                    {% block breadcrumb %}
                    {% endblock %}

                </div>

                <section class="body-section">
                    {% block body_section %}
                    {% endblock %}
                </section>

            </div>

        </div>
    </section>
    <script>UIkit.offcanvas('#sidebar').hide()</script>
    {% block dashboard_script %}
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}

