{% extends "includes/admin/layout/base.html" %}

{% block title %}
    Admin Index
{% endblock %}

{% block body_section %}
    admin body_section Index <br> <br>
    [2023-01-02 21:15:36,953] INFO in utils: BEFORE_REQUEST :: 매 요청 직전에 실행<br>
    [2023-01-02 21:15:36,954] INFO in utils: AFTER_REQUEST :: 매 요청이 처리되고 나서 실행<br>
    [2023-01-02 21:15:36,954] INFO in utils: AFTER_REQUEST :: 매 요청이 처리되고 나서 실행<br>
    [2023-01-02 21:15:36,955] INFO in utils: TEARDOWN_REQUEST :: 브라우저가 응답하고 실행<br>
    [2023-01-02 21:15:36,957] INFO in utils: TEARDOWN_REQUEST :: 브라우저가 응답하고 실행<br>
    [2023-01-02 21:15:36,957] INFO in utils: TEARDOWN_CONTEXT :: HTTP 요청 애플리케이션 컨텍스트가 종료될 때 실행<br>
    [2023-01-02 21:15:36,957] INFO in utils: TEARDOWN_CONTEXT :: HTTP 요청 애플리케이션 컨텍스트가 종료될 때 실행<br>

    <br>

{% endblock %}