{% extends "base.html" %}

{% block title %}
    로또
{% endblock %}

{% block head_css %}
    <style>

    </style>
    <link href="{{ url_for('static', filename='statics/css/lotto.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script>
        {#getRandom = "{{ url_for("lotto.lotto_return_random") }}"#}
        CSRF_TOKEN = "{{ csrf_token() }}"
    </script>
{#    <script src="{{ url_for('static', filename='statics/js/lotto/lotto_test.js') }}"></script>#}
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="flashes-container">
            {% include 'includes/messages.html' %}
        </div>
        <h4 class="mb-20">당첨로또 최다번호 추출</h4>
        {% if extract_num %}

            string 으로 저장된 최다빈도 번호: {{ map_str_extract_num }} <br>
            string 으로 저장된 최다빈도 번호를 integer list 로 다시 변환: {{ extract_num }} <br>

        {% else %}
            string 으로 저장된 최다빈도 번호를 integer list 로 다시 변환해야,
            탑10 로또 번호 생성시 리스트를 사용할 수 있다. <br>
            {% if old_extract_num %}
                <div class="mt-10" style="text-align: center">현재 {{ old_extract.title }}까지 최다 당첨번호 10개 </div>
                <div style="text-align: center">{{ old_extract_num }}</div> <br>
            {% else %}
                <div class="mt-10" style="text-align: center">1등 당첨 다빈도 번호를 추출하세요! </div><br>
            {% endif %}
            <div>아래에 마지막 회차를 입력하면 그때까지의 당첨 최다번호를 추출하여 로또 번호 예측에 사용됩니다.</div>
            <form action="{{ url_for("lottos.win_extract_lotto_post") }}" class="mt-20" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input class="uk-input" type="text" name="latest_round" placeholder="마지막회차(숫자만) 입력">
                <div class="mt-20">
                    <button class="uk-button uk-button-default uk-align-right" type="submit">추출</button>
                </div>
                <div class="mt-20 pt-5">
                    <a href="https://dhlottery.co.kr/gameResult.do?method=byWin" target="_blank">마지막회차 알아보기</a>
                </div>

            </form>

        {% endif %}
    <br>
    </div>
{% endblock %}